div {
  background: #226fc1;
  height: 200px;
  width: 200px;
  margin:20px;
  display: inline-block;
}


.caja1 {
border: 7px solid black;
border-radius:20px;
}

.caja2 {
border: 7px dotted black;
border-radius: 0px 10px 30px 50px;
}

.caja3 {
border: 7px dashed black;
}

.caja4 {
border:7px ridge black;
border-radius: 100%;
}

*/slolo cajas para redondos/*
