.caja{
  background: #ffaa5a;
  height: 200px;
  width: 200px;

  /*Mover en x y y*/
  /*transform: translateX(200px);*/
  /*aumentar tamaño*/
  /*transform: scale(2,2);*/

  transition: all 1s linear;
  }

.caja:hover{
  background: #9eb3c2;
  width: 400px;
}
