/* Coment */

/**{color:red;} selector universal */

h1,h3{
  color: blue;
}

h2{
  color: red;
}

/*Aumentar tamaño parrafos dentro de div*/
/*Selector decendente*/

div article p {
  font-size: 20px;
  color: black;
}

p a{
  color: red;
}

.grande{
  font-size: 20px;
}
